<div class="row gx-1">
  <div class="col-3 mx-3">
    <h2>{{ country.name.common }}</h2>
    <img [src]="country.flags.png" />
  </div>

  <div class="col-8">
    <div class="list-group-item">
      <strong>Nombre official:</strong> {{ country.name.official }}
    </div>

    <div class="list-group-item">
      <strong>Capital:</strong> {{ country.capital }}
    </div>

    <div class="list-group-item">
      <strong>Region:</strong> {{ country.region }}
    </div>

    <div class="list-group-item">
      <strong>Subregion:</strong> {{ country.subregion }}
    </div>

    <div class="list-group-item">
      <strong>Código:</strong> {{ country.cca3 }}
    </div>
    <!-- <div>{{ country.}}</div> -->
  </div>
</div>

<div class="row">
  <div class="col">
    <div *ngFor="let translation of country.translations | keyvalue">
      {{ translation.key }} - {{ translation.value.official }}
    </div>
  </div>
</div>
